*{
    box-sizing: border-box;
}
.main{
    height: 550px;
    width: 900px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.281);
    margin-top: 60px;
    display: flex;
}
.left{
    margin: 30px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
}
.right{
    margin: 30px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.send{
   position: absolute;
   bottom: 0px;
   margin: 30px;
   width: 90%;
}
#messages{
   margin: 30px;
   height: 70%;
   background-color: #fff;
   overflow-y: scroll;
}
.time{
    display: inline-block;
    color: black;
    font-size: 0.4cm;
    margin-top: 5px;
}
.m{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: black;
    border-radius: 30px;
    border-top-left-radius: 0px;
    color: white;
    font-size: 0.5cm;
    width: fit-content;
    max-width: 80%;
}
.name{
    color: black;
    margin-left: 15px;
}
input{
    width:90%;
    height: 40px;
    vertical-align: top;
}
img{
    height: 40px;
}
.btn{
    width: 9%;
    border: none;
    background-color: transparent;
}